.landing-page {
    background-color: $color-primary-dark-blue-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: "Raleway";
        font-size: 1.2rem;
        background-color: $color-primary-dark-blue-1;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 50rem;
            bottom: -10rem;
            background: url("../../../Assets/Images/bg-curvy-desktop.svg");
            background-size: cover;
            background-position: center;
        }
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100vw;
        padding: 4rem;
    }

    &__logo {
        transform: scale(0.6);
    }

    &__link {
        margin: 2.5rem;
        text-decoration: none;
        color: $color-white;
        opacity: 0.7;
    }

    &__get-started-text-container,
    &__feature {
        display: flex;
        width: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &__get-started-text-container {
        //margin-top: -2rem;
    }

    &__feature {
        align-self: center;
        justify-self: center;

        width: auto;
        inline-size: 29.6rem;
    }

    &__icon {
        transform: scale(0.8);
    }

    &__illustration-intro {
        width: 47rem;

        transform: scale(1.18);
        height: auto;
    }


    &__features-container {
        margin-top: 16rem;

        width: 100vw;

        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 7rem;

        grid-template-columns: 35rem 35rem;
    }

    &__stay-productive-section {
        display: grid;
        justify-content: center;
        margin-top: 10rem;

        grid-template-columns: 59rem 50rem;
    }

    &__stay-productive-illustration {
        transform: scale(0.8);
    }

    &__stay-productive-heading-container {
        font-family: "Raleway";
    }

    &__stay-productive-container {
        margin-top: 12rem;
        inline-size: 38rem;
    }

    &__arrow-icon {
        vertical-align: middle;
        margin-left: .2rem;
        position: relative;
        width: 3.8%;
        height: 5%;
        transform: scale(0.8);
    }

    &__cards-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;
        position: relative;
        z-index: 1;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 17.5%;
        height: 52%;
        margin: 1.4rem;
        padding: 2rem;
        background-color: $color-primary-dark-blue-4;
        border-radius: .3rem;

        &:first-child {

            &::before {
                content: "";
                position: absolute;
                width: 10%;
                height: 10%;
                transform: translate(-2.5rem, -4.3rem);
                background-image: url("../../../Assets/Images/bg-quotes.png");
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1 !important;
            }
        }
    }

    &__card-profile-icon-container {
        width: 100%;
        background-color: red;
    }

    &__card-review-container {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    &__card-profile-icon {
        border-radius: 50%;
        width: 7%;
        height: auto;
    }

    &__card-user-details {
        margin-left: .8rem;
    }

    &__early-access-form {
        position: absolute;
        width: 45%;
        height: 30%;
        background-color: $color-primary-dark-blue-1;
        bottom: -177rem;
        border-radius: .5rem;
        
    }

    &__early-access-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 90%;
    }

    &__email-container {
        display: flex;
        width: 80%;
    }

    &__email-input {
        border-radius: 2rem;
        width: 70%;
        border: none;
        outline: none;
        padding: 1rem 3rem;

        &::placeholder {
            opacity: 0.4;
        }
    }

    &__footer {
        width: 100vw;
        height: 50vh;
        margin-top: 20rem;
        padding: 10rem 5rem;
        background-color: $color-primary-dark-blue-3;
    }

    &__footer-logo {
        transform: scale(0.7);
    }

    &__footer-info-navbar {
        display: grid;
        grid-template-rows: repeat(auto-fit, 3.5rem);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        list-style: none;
    }

    &__footer-info {
        display: flex;
        padding: 1.5rem 5rem;

        &:nth-child(1) {
            grid-column: span 2;
        }

        &:nth-child(3) {
            grid-column: 3 / 4;
            grid-row: 2;
        }

        &:nth-child(4),
        &:nth-child(5) {
            display: flex;
            flex-direction: column;
        }
    }

    &__footer-icon {
        width: 1.5rem;
        height: 1.5rem;
        transform: translateX(-1.8rem);
    }

    &__footer-social-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        margin: .5rem;
        border: solid $color-white thin;
        border-radius: 50%;
    }

    &__footer-social-icon {
        width: 50%;
        height: auto;
    }
}