@font-face {
    font-family: "Raleway";
    src: url("../../../Assets/Fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "RalewayBold";
    src: url("../../../Assets/Fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../../../Assets/Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../../../Assets/Fonts/OpenSans-Bold.ttf");
}