@font-face {
    font-family: "Raleway";
    src: url("../../../public/Assets/Fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../../../public/Assets/Fonts/OpenSans-Regular.ttf");
}